<mat-card class="position-search-page">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-card-subtitle>
        What place are you looking for?
      </mat-card-subtitle>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="form-width">
        <mat-form-field class="form-full-width">
          <input matInput type="search" [lang]="language" [(ngModel)]="insertValue"
            (ngModelChange)="getRequestResults(insertValue)" name="curValue" (keyup)="getRequestResults(insertValue)"
            placeholder="Search..." class="search-input">
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <span *ngIf="searchPageResult && searchPageResult.length>0">
    <table class="dropdown-content">
      <tr *ngFor="let searchItem of searchPageResult; let i= index;">
        <td><a (click)="clickRowResult(searchItem.name)">{{searchItem.name}}</a></td>

      </tr>
    </table>
  </span>
  <mat-card-actions>
    <button mat-button class="search-button" [ngClass]="{'no-action-cursor':disableButton===true}"
      [disabled]="disableButton===true" (click)="navigateToGoogle()">Click to search</button>
  </mat-card-actions>
</mat-card>